<!DOCTYPE html>
<html>

<head>
  <title>Termini</title>
  <style type="text/css" media="all">
    @import "static/css/termini.css";
  </style>
  <script src="static/js/main.js" defer></script>
  <script src="static/js/eventListeners.js" defer></script>
  <script src="static/js/showCommands.js" defer></script>
  <script src="static/js/buildSwitch.js" defer></script>
</head>

<body>
  <div id="main-container">
    <div id="terminal-container">
      <div class="terminal-connection-container">
        <div class="connection-input-container">
          <div class="hostname-menu-container" id="hostname-menu-container">
            <button class="hostname-button" id="hostname-button" onclick="toggleDropdown(this)">Hosts</button>
            <div class="hostname-dropdown-container">
              <div class="hostname-button-dropdown" id="hostname-button-dropdown"></div>
            </div>
          </div>
          <input class="connection-input" type="text" id="hostname" placeholder="Hostname" autofocus>
          <input class="connection-input" type="text" id="username" placeholder="Username">
          <input class="connection-input" type="password" id="password" placeholder="Password">
          <button class="connection-button" id="connect-button">Connect</button>
          <button class="terminal-button" id="terminal-button" onclick="toggleDropdown(this)">Terminal</button>
          <div class="show-command-container">
            <button class="show-command-button" id="show-command-button" onclick="toggleDropdown(this)">Show</button>
            <div class="show-command-dropdown" id="show-command-button-dropdown">
              <div class="command-container">
                <button class="command-button" id="show-running-config" onclick="showRunningConfig()">Running-config</button>
              </div>
              <div class="command-container">
                <button class="command-button" id="show-interfaces" onclick="showInterfaces()">Interfaces</button>
              </div>
              <div class="command-container">
                <button class="command-button" id="lldp-neighbors" onclick="showLldpNeighbors()">LLDP Neighbors</button>
              </div>
              <div class="command-container">
                <button class="command-button" id="cdp-neighbors" onclick="showCdpNeighbors()">CDP Neighbors</button>
              </div>
            </div>
          </div>
          <button class="face-button" id="face-button" type="button" onclick="toggleDropdown(this)">Face</button>
          <button class="rear-button" id="rear-button" type="button" onclick="toggleDropdown(this)">Rear</button>
        </div>
        <div class="device-connected-container">
          <div class="hardware-container">
            <button class="hardware" id="hardware" type="button" onclick="toggleDropdown(this)"></button>
            <div class="hardware-dropdown" id="hardware-dropdown">
              <iframe id="hardware-output"></iframe>
            </div>
          </div>
          <div class="software-container">
            <button class="software" id="software" type="button" onclick="toggleDropdown(this)"></button>
            <div class="software-dropdown" id="software-dropdown">
              <iframe id="software-output"></iframe>
            </div>
          </div>
          <div class="config-container">
            <button class="vlan-button" id="vlan-button" type="button"
              onclick="toggleDropdown(this)">VLAN</button>
            <div class="vlan-button-dropdown" id="vlan-button-dropdown">
              <div class="vlan-output" id="vlan-output"></div>
            </div>
          </div>
          <div class="config-container">
            <button class="running-config-button" id="running-config" type="button"
              onclick="toggleDropdown(this)">Configuration</button>
            <div class="running-config-dropdown" id="running-config-dropdown">
              <div class="running-config-buttons-container">
                <div class="edit-button-container">
                  <button class="edit-button" id="edit-button">Edit</button>
                </div>
                <div class="save-button-container">
                  <button class="save-button" id="save-button">Save</button>
                </div>
                <div class="cancel-button-container">
                  <button class="cancel-button" id="cancel-button">Cancel</button>
                </div>
              </div>
              <div id="config-output"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="terminal-button-dropdown" id="terminal-button-dropdown" onclick="focusOnInput()">
        <div id="output-container"></div>
        <div id="input-container">
          <div class="precursor" id="precursor"></div>
          <textarea type="text" id="input"></textarea>
        </div>
      </div>
    </div>
    <div class="face-button-dropdown" id="face-button-dropdown"></div>
    <div class="rear-button-dropdown" id="rear-button-dropdown"></div>
    <div class="port-details-dropdown" id="port-details-dropdown">
        <div class="port-details-menu">
          <span class="port-details-current-port" id="port-details-current-port"></span>
          <button class="edit-button show-dropdown" id="port-details-button" onclick="toggleDropdown(this), hideOtherDropdowns(this, 'port-details-output')">Details</button>
          <button class="save-button" id="port-vlan-button" onclick="toggleDropdown(this), hideOtherDropdowns(this,'port-details-output')">VLAN</button>
          <button class="cancel-button" id="port-lldp-button" onclick="toggleDropdown(this), hideOtherDropdowns(this, 'port-details-output')">LLDP Neighbors</button>
        </div>
        <div class="port-details-output show-dropdown" id="port-details-button-dropdown"></div>
        <div class="port-details-output" id="port-vlan-button-dropdown"></div>
        <div class="port-details-output" id="port-lldp-button-dropdown"></div>
    </div>
    <div class="ports-container" id="ports-container"></div>
    <div class="lldp-neighbors-data" id="lldp-neighbors-data" style="color: white;"></div>
  </div>
</body>
</html>